<% set_meta_tags title: @article.title,
                 description: @article.meta_description %>

<% set_meta_tags(canonical: article_url(@article))  %>

<% set_meta_tags(open_graph: {
   title: @article.title,
   type: 'website',
   site_name: 'TrueArtists',
   url: article_url(@article),
   description: @article.meta_description,
 })
%>

<% set_meta_tags twitter: {
   card: 'summary_large_image',
   site: 'TrueArtists',
   title: @article.title,
   description: @article.meta_description,
   url: article_url(@article)
 }
%>

<div class="page-section gray-bg">
  <div class="container article-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 article-content">
          <div class="sub-header">
            <h1><%= @article.title %></h1>
          </div>
          <div class="article-meta-data">
            <div class="article-author">By <%= @article.user.full_name %></div> |
            <div class="article-created-date"><%= @article.created_at.strftime("%d-%m-%Y") %></div>
          </div>
          <div class="sharethis-inline-share-buttons"></div>
          <% if @article.image.attached? %>
            <div>
              <%= lazy_image_tag(asset_blob_url(@article.image), title: @article.title, alt: @article.title) %>
            </div>
          <% end %>
          <div class="article-body">
            <%= @article.content.html_safe %>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<%= render 'recommendations', similar_articles: @similar_articles %>
