<!-- Artists -->
<div class="col-lg-3 col-md-6 col-sm-12 col">
  <% if artist.city_state.present? %>
    <div class="location-section">
      <i><%= image_pack_tag("media/images/geo-alt.svg") %></i>
      <p><%= link_to artist.city_state, city_state_artists_path(artist.city_state.slugorize) %></p>
    </div>
  <% end %>
  <div class="listing-widget shadow">
    <%= link_to artist_path(artist) do %>
      <div class="list-image">
        <% if artist.search_profile_image %>
          <img data-src="<%= asset_blob_url(artist.search_profile_image) %>" class="lazyload" />
        <% end %>
      </div>
      <div class="list-content d-flex align-items-center">
        <div class="list-left flex-grow-1">
          <div class="d-flex align-items-center">
            <div class="profile-img">
              <% if artist.avatar.attached? %>
                <img data-src="<%= asset_blob_url(artist.avatar) %>" class="lazyload" />
              <% end %>
            </div>
            <div class="profile-info">
              <h5><%= artist.name %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- // -->
