<div class="home-page">
  <div class="home-bg-image">
    <%= image_tag("home-bg.jpeg") %>
    <div class="home-text-section">
      <div class="home-text">
        <h1>Join the world's largest tattoo community</h1>
      </div>
      <div class="join-section">
        <button type="button">Join as tattoo Artist</button>
      </div>
    </div>
  </div>
  <div class="why-us">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="why-us-header text-center">
              <h2>WHY CHOOSE TRUEARTISTS?</h2>
              <h3>Even more features to benefit you</h3>
            </div>
            <div class="why-us-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artists-near-you">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="home-section-header">
              <h2>Tattoo Artists near you</h2>
            </div>
            <%= form_for artists_path, html: { method: :get } do |f| %>
              <div class="artists-lists grid-gap-30 row">
                <%= render @artists %>
              </div>
              <div class="col-md-12 text-center">
                <% unless @meta[:last_page] %>
                  <div class="see-more-section">
                    <button class="btn btn-alternative">See More</button>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="studios-near-you">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 home-section-header">
            <h2>Tattoo Studios near you</h2>
            <div class="chevron-navigation">
              <button type="button" id="leftClick">
                <%= image_pack_tag("media/images/chevron-left.svg") %>
              </button>
              <button type="button" id="rightClick">
                <%= image_pack_tag("media/images/chevron-right.svg") %>
              </button>
            </div>
          </div>
          <div class="col-md-10 studio-lists grid-gap-30">
            <%= render 'frontend/artists/studios' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials gray-bg">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonials-header text-center">
              <h2>Customer testimonials</h2>
              <h3>What Our Members think..</h3>
            </div>
            <div class="row">
              <%= render 'frontend/artists/testimonials' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
