<% set_meta_tags title: "#{@artist.name} - Tattoo Artist - #{@artist.city_state}",
              description: "Browse tattoo artist #{@artist.name} from #{@artist.city_state} portfolio today. Book a tattoo appointment today." %>

<% set_meta_tags(canonical: artist_url(@artist))  %>

<% set_meta_tags(open_graph: {
   title: "#{@artist.name} - Tattoo Artist - #{@artist.city_state}",
   type: 'website',
   site_name: 'TrueArtists',
   url: artist_url(@artist),
   description: "Browse tattoo artist #{@artist.name} from #{@artist.city_state} portfolio today. Book a tattoo appointment today.",
   image: {
     url: asset_blob_url(@artist.search_profile_image),
     width: 655,
     height: 665
   }
 })
%>

<% set_meta_tags twitter: {
   card: 'summary_large_image',
   site: 'TrueArtists',
   title: "#{@artist.name} - Tattoo Artist - #{@artist.city_state}",
   description: "Browse tattoo artist #{@artist.name} from #{@artist.city_state} portfolio today. Book a tattoo appointment today.",
   url: artist_url(@artist),
   image: { src: asset_blob_url(@artist.search_profile_image) }
 }
%>

<div class="page-section gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="artist-left-sidebar">
          <div class="artist-p-info text-center">
            <% if @artist.avatar.attached? %>
              <img data-src="<%= asset_blob_url(@artist.avatar) %>" class="lazyload" />
            <% end %>
            <h1><%= @artist.name %></h1>
            <p><%= format('%s %s', @artist.street_address, @artist.street_address_2) %></p>
            <p><%= @artist.city_state %> <%= @artist.zip_code %></p>
          </div>

          <% if false %>
            <div class="artist-p-btn d-flex justify-content-center">
              <a href="#" class="btn btn-secondary">Save</a>
              <a href="#" class="btn btn-primary ml-4">Book</a>
            </div>
          <% end %>

          <% if @artist.current_studio %>
            <div class="artist-p-style">
              <h4>Current Tattoo Studio</h4>
              <div class="artists-style d-flex flex-wrap">
                <%= link_to studio_path(@artist.current_studio) do %>
                  <h5><%= @artist.current_studio.name %></h5>
                  <p><%= @artist.current_studio.city_state %></p>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="artist-p-style">
            <h4>Style Specialization</h4>
            <div class="artists-style d-flex flex-wrap">
              <% @artist.styles.each do |style| %>
                <%= link_to style.name, style_tattoos_path(style.slug), class: 'tag tag-cloud' %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-8">
        <div class="artist-p-right-content">
          <div class="sub-nav d-flex justify-content-start">
            <a class="active" href="#">Tattoo Portfolio</a>
              <!-- <a href="#">About</a> -->
              <!-- <a href="#">Artist</a> -->
          </div>

          <div class="artist-p-sub-content pt-5">
            <%= render 'frontend/artists/gallery', tattoos: @tattoos %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
