<% target_url = "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/dashboard/bookings/#{@booking.id}" %>

<tr>
  <%= render layout: 'layouts/mailer_row' do %>
    <h1 style="<%= row_styles %>">You have a new booking on TrueArtists.</h1>

    <p style="<%= row_styles %>"><%= link_to 'Please click here', target_url %> to respond to the customer and start a conversation on their idea, budget, and availability.</p>

    <%= render 'layouts/mailer_btn', btn_url: target_url, btn_name: 'Respond now', style: row_styles %>

    <p style="<%= row_styles %>">We encourage you to respond to customer inquiries within 24hours to avoid cancellations.</p>

    <%= render 'layouts/mailer_post_block' %>
  <% end %>
</tr>
