<% target_url = "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/dashboard/bookings/#{@booking.id}" %>

<tr>
  <%= render layout: 'layouts/mailer_row' do %>
    <p style="<%= row_styles %>"><%= @user.full_name %> made a booking request with you at TrueArtists on <%= @booking.created_at.to_s(:full_usa) %> and you are yet to respond.</p>

    <p style="<%= row_styles %>">A prompt response helps customers finalize plans. If you don’t respond to <%= @user.full_name %> inquiry within 24 hours, it could negatively impact your response rate and your listing’s placement in search.</p>

    <%= render 'layouts/mailer_btn', btn_url: target_url, btn_name: 'Accept/Reject', style: row_styles, additional_text: ' to respond.' %>

    <p style="<%= row_styles %>">We encourage you to respond to customer inquiries within 24hours to avoid cancellations.</p>

    <%= render 'layouts/mailer_post_block', contact_description: 'If you have any questions or need help, don\'t hesitate to contact us at' %>
  <% end %>
</tr>
