<% set_meta_tags name: @convention.name,
                 description: @convention.description %>

<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="sub-header">
          <h1><%= @convention.name %></h1>
          <% if true %>
            <%#= link_to 'Edit', "http://localhost:3000/admin/edit/#{@article.id}" %>
          <% end %>
        </div>
        <div class="meta-data">
          <div class="author">By <%= @convention.user.full_name %></div>
        </div>
        <div class="sharethis-inline-share-buttons"></div>
        <div class="header-image">
          <img data-src="<%= url_for(@convention.image) %>" class="lazyload" />
        </div>
        <div class="date-info">
          <div class="date">Start Date: <span><%= @convention.start_date.strftime("%a, %b %d, %Y") %></span></div>
          <div class="date">End Date: <span><%= @convention.end_date.strftime("%a, %b %d, %Y") %></span></div>
        </div>
        <div class="body">
          <%= @convention.description.html_safe %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
