<div class="filter-section">
  <div class="multi-filter">
    <label>Select Filters</label>
    <div class="multi-filter__selected">All Filters</div>
    <div class="tattoo-filter multi-filter__select">
      <div class="multi-filter__header">
        Filters
        <a href="#" class="multi-filter__close"></a>
      </div>
      <div class="multi-filter__main">
        <div class="row">
          <div class="col-sm">
            <div class="group">
              <div class="multi-filter__title">Color</div>
              <ul class="multi-filter__filter">
                <% @colors.each do |color| %>
                  <li class="filter">
                    <label class="filter-checkbox">
                      <%= color %>
                      <input type="checkbox" name="colors" value="<%= color %>">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm">
            <div class="group">
              <div class="multi-filter__title">Placement</div>
              <ul class="multi-filter__filter">
                <% @placements.each do |placement| %>
                  <li class="filter">
                    <label class="filter-checkbox">
                      <%= placement %>
                      <input type="checkbox" name="placements" value="<%= placement %>">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-sm">
            <div class="group">
              <div class="multi-filter__title">Art Style</div>
              <ul class="multi-filter__filter">
                <% @styles.each do |style| %>
                  <li class="filter">
                    <label class="filter-checkbox">
                      <%= style.name %>
                      <input type="checkbox" name="styles" value="<%= style.name %>">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="multi-filter__actions">
          <button class="btn btn-secondary multi-filter__clear">Clear</button>
          <button class="btn btn-primary multi-filter__apply">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>