<% if tattoo.image.attached? %>
  <div class="col-lg-3 col-md-6 grid-item">
    <%= link_to tattoo_path(tattoo), class: 'gallery-item half' do %>
      <% if false #modern_browser? %>
        <% variant = tattoo.image.variant(convert: 'webp').processed %>
        <%= lazy_image_tag(asset_blob_url(variant), title: tattoo.seo_title, alt: tattoo.seo_title) %>
      <% else %>
        <%= lazy_image_tag(asset_blob_url(tattoo.image), title: tattoo.seo_title, alt: tattoo.seo_title) %>
      <% end %>
    <% end %>
    <div class='tattoo-info'>
      <%= link_to url_for(tattoo.parent) do %>
        <% if tattoo.parent.avatar.attached? %>
          <%= lazy_image_tag(asset_blob_url(tattoo.parent.avatar)) %>
        <% end %>
         <span itemprop='name'>
           <%= tattoo.parent.name %><br>
         </span>
      <% end %>
      <div class='meta-data'>
        <% if tattoo.style.present? %>
          <%= link_to tattoo.style.name, style_tattoos_path(tattoo.style.slug), class: 'tag tag-cloud' %>
        <% end %>

        <% if tattoo.placement.present? %>
          <%= link_to tattoo.placement, placement_tattoos_path(tattoo.placement.slugorize), class: 'tag tag-cloud' %>
        <% end %>
        <% if tattoo.caption.present? %>
          <span><%= tattoo.caption %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
