<% set_meta_tags title: "#{@name} Tattoo Ideas",
              description: "Find thousands of #{@name.downcase} tattoo ideas and galleries from top tattoo artists near you." %>

<!-- Tattoos Search -->
<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
        <div class="col-md-12 search-form">
          <%= form_for tattoos_path, html: { method: :get } do |f| %>
            <div class="sub-header">
              <h1><%= @name %> Tattoo Ideas</h1>
            </div>
            <div class="search-tattoos-form row">
              <div class="col-md-9">
                <div class="search-section">
                  <%= text_field_tag "query", @name, class: '', placeholder: 'Search Tattoos by Style, Color, and Placement' %>
                  <button type="submit" class="search search-box">
                    <i class="ta-icon-search basic-search"></i>
                  </button>
                </div>
                </div>
                <div class="col-md-3">
                  <%#= render 'frontend/tattoos/filter' %>
                </div>
            </div>
            <div class="selected-filters">
              <%#= render 'frontend/tattoos/selected_filters' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<!-- // -->

<!-- Tattoos -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="image-gallery grid row">
          <%= render @tattoos %>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <%= paginate @tattoos %>
      </div>
    </div>
  </div>
</div>
<!-- // -->

<% if @styles.present? %>
  <div class="artists-near-you">
    <div class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="home-section-header">
              <h2>More tattoo styles to explore</h2>
            </div>
            <div class="artists-lists grid-gap-30 row">
              <%= render 'frontend/styles/styles', styles: @styles %>
            </div>
          </div>
        </div>
        <!-- end of row -->
      </div>
    </div>
  </div>
<% end %>
