<% set_meta_tags title: current_seo_content&.page_title,
              description: current_seo_content&.meta_description %>

<% set_meta_tags(canonical: current_canonical_url)  %>

<% set_meta_tags(open_graph: {
   title:  current_seo_content&.page_title,
   type: 'website',
   site_name: 'TrueArtists',
   url: current_canonical_url,
   description: current_seo_content&.meta_description"
 })
%>

<% set_meta_tags twitter: {
   card: 'summary_large_image',
   site: 'TrueArtists',
   title:  current_seo_content&.page_title,
   description: current_seo_content&.meta_description,
   url: current_canonical_url,
 }
%>

<!-- Tattoos Search -->
<div class="page-section gray-bg">
  <div class="container">
    <div class="row">
        <div class="col-md-12 search-form">
          <%= form_for tattoos_path, html: { method: :get } do |f| %>
            <div class="sub-header">
              <h1><%= current_seo_content.title %></h1>
            </div>
            <div class="search-tattoos-form row">
              <div class="col-md-9">
                <div class="search-section">
                  <%= text_field_tag "query", params[:query], class: '', placeholder: 'Search Tattoos by Style, Color, and Placement' %>
                  <button type="submit" class="search search-box">
                    <i class="ta-icon-search basic-search"></i>
                  </button>
                </div>
                </div>
                <div class="col-md-3">
                  <%= render 'frontend/tattoos/filter' %>
                </div>
            </div>
            <div class="selected-filters">
              <%= render 'frontend/tattoos/selected_filters' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<!-- // -->

<!-- Tattoos -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="image-gallery grid row">
          <%= render @tattoos %>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <%= paginate @tattoos %>
      </div>
    </div>
  </div>
</div>
<!-- // -->

<% if current_seo_content.present? %>
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sub-header">
            <h2><%= current_seo_content.title %></h2>
          </div>
        </div>
        <div class="col-md-12">
          <%= current_seo_content.content.html_safe %>
        </div>
      </div>
    </div>
  </div>
<% end %>
