<% set_meta_tags title: @tattoo.seo_title,
              description: @tattoo.caption %>

<!-- Tattoos Details -->
<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tattoos-details-full gray-bg">
          <div class="row">
            <div class="col-lg-6">
              <div class="tattoos-details-img">
                <% if @tattoo.image.attached? %>
                  <img data-src="<%= url_for(@tattoo.image) %>" class="lazyload" />
                <% end %>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="details-header">
                <div class="d-flex align-items-center">
                    <% object = @tattoo.studio || @tattoo.artist %>
                      <%= link_to object, class: 'gallery-item' do %>
                       <% if object.avatar.attached? %>
                         <div class="single-user-img mr-3">
                           <img data-src="<%= url_for(object.avatar) %>" class="lazyload" />
                         </div>
                        <% end %>
                        <div class="single-user-name">
                          <h3><%= object.name %></h3>
                        </div>
                      <% end %>
                    <% %>
                </div>
              </div>
              <div class="details-content">
                <% if @tattoo.tag_list.present? %>
                  <% @tattoo.tag_list.split(',').each do |tag| %>
                    <span>#<%= tag %></span>
                  <% end %>
                <% end %>
              </div>
              <div class="details-like">
                <div class="d-flex justify-content-between">
                  <!-- <div class="like">
                    <i class="bi bi-heart"></i> <span>200k</span>
                  </div> -->
                  <!-- <div class="meta-info">
                    <span>Posted 10 Months ago</span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'recommendations', similar_tattoos: @similar_tattoos %>
<!-- // -->
