<!-- Artists -->
<% @artists.each do |artist| %>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="location-section">
      <%= link_to '#' do %>
        <i><%= image_pack_tag("media/images/geo-alt.svg") %></i>
        <h4><%= artist.city_state %></h4>
      <% end %>
    </div>
    <div class="listing-widget shadow">
      <%= link_to artist_path(artist) do %>
        <div class="list-image">
          <% if artist.search_profile_image %>
            <img data-src="<%= url_for(artist.search_profile_image) %>" class="lazyload" />
          <% end %>
        </div>
        <div class="list-content d-flex align-items-center">
          <div class="list-left flex-grow-1">
            <div class="d-flex align-items-center">
              <div class="profile-img">
                <% if artist.avatar.attached? %>
                  <img data-src="<%= url_for(artist.avatar) %>" class="lazyload" />
                <% end %>
              </div>
              <div class="profile-info">
                <h5><%= artist.name %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<!-- // -->
