<% set_meta_tags title: "Who are TrueArtists?",
              description: "The largest association of certified tattoo artists and studios near you." %>

<div class="about-us">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-us-header text-center">
            <h3>ABOUT US</h3>
            <h1>TrueArtists is the world's premiere destination for tattoo culture and lifestyle. Find the best tattoo artists and shops from near you!</h1>
          </div>
          <div class="about-us-content">
            <div class="intro-content row">
              <div class="col-lg-4">
                <%#= image_pack_tag("media/images/g1.jpg") %>
              </div>
              <div class="col-lg-8">
                <h3>We love Tattoos. We care for our community.</h3>

                <p>TrueArtists was founded in 2011 and quickly grew to become the largest Association of Certified Tattoo Artists in the world.  Membership is restricted to tattoo artists who exhibit not only artistic ability, but a good command of the craft of tattooing, from quality workmanship to clean safe work environments.</p>

                <p>Our mission is to help professional quality artists stand out and be found.  In today’s over hyped digital marketing world it can be too hard to find quality tattoo artists easily.  TrueArtists certifies each member to make sure they do professional quality tattoo work.</p>

                <p>Artists and Studios enjoy being a part of TrueArtists because it is another marketing channel for them to promote their work by getting featured on our social media pages which combined reach over 7 million fans from around the world.  To view our extensive list of member benefits please Click Here</p>

                <p>In addition to social media, members are featured in our bi-weekly free Newsletter as well as our highly regarded TrueArtists Magazine (link here). In 2014, we added our annual TrueArtists Global Tattoo Awards</p>

                <p>Tattoo fans are able to easily find and connect with professional quality tattoo artists around the world by using our simple search function that will show you the nearest TrueArtist member.  The tattoo industry is saturated with artists of all levels and it can be hard to find a quality tattoo artist who you can trust with your skin.  TrueArtists helps bridge that gap.  To find an artist for your next project Click Here</p>

                <p>Whether you are a tattoo artist or fan, the team here at TrueArtists is dedicated to promoting professional quality artists from cities around the world so fans can find artists that they can trust.</p>
              </div>
            </div>
            <!-- add it when we have live data -->
            <% if false %>
              <div class="about-us-stats">
                <div class="row align-items-center">
                  <div class="col-lg-3 col-md-6 col-sm-6 stats">
                    <div>
                      <%= image_pack_tag("media/images/icon_studio.svg") %>
                    </div>
                    <div>
                      <h1>5K+</h1>
                      <p>Coveted Studios</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 stats">
                    <div>
                      <%= image_pack_tag("media/images/icon_artist.svg") %>
                    </div>
                    <div>
                      <h1>10K+</h1>
                      <p>Badass Artists</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 stats">
                    <div>
                      <%= image_pack_tag("media/images/icon_ig_fan.svg") %>
                    </div>
                    <div>
                      <h1>20K+</h1>
                      <p>Instagram Fans</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 stats">
                    <div>
                      <%= image_pack_tag("media/images/icon_fb_fans.svg") %>
                    </div>
                    <div>
                      <h1>2.5M</h1>
                      <p>Facebook Fans</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="how-it-works-section text-center gray-bg">
              <h1>How it works</h1>
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 steps">
                  <div>
                    <div class="section-header">
                      <div class="numbering">
                        <span>1</span>
                      </div>
                      <div>
                        <h3>Artists Apply</h3>
                      </div>
                    </div>
                    <p>Sign up and submit your details</p>
                  </div>
                  <div>
                    <%= image_pack_tag("media/images/chevron-right.svg") %>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 steps">
                  <div>
                    <div class="section-header">
                      <div class="numbering">
                        <span>2</span>
                      </div>
                      <div>
                        <h3>Verify Artwork/Identify</h3>
                      </div>
                    </div>
                    <p>Upload your artwork and we verify</p>
                  </div>
                  <div>
                    <%= image_pack_tag("media/images/chevron-right.svg") %>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 steps">
                  <div>
                    <div class="section-header">
                      <div class="numbering">
                        <span>3</span>
                      </div>
                      <div>
                        <h3>Approve</h3>
                      </div>
                    </div>
                    <p>Upon review, get approved</p>
                  </div>
                  <div>
                    <%= image_pack_tag("media/images/chevron-right.svg") %>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 steps">
                  <div>
                    <div class="section-header">
                      <div class="numbering">
                        <span>4</span>
                      </div>
                      <div>
                        <h3>Share your work</h3>
                      </div>
                    </div>
                    <p>We share your art to entire Tattoo Community</p>
                  </div>
                </div>
              </div>
              <div class="action-button align-items-center">
                <button class="btn btn-alternative btn-lg" type="button">Join as tattoo Artist</button>
              </div>
            </div>
            <div class="contact-form">
              <div class="row">
                <div class="col-lg-4">
                  <div class="contact-section-header">
                    <h1>We'd love to hear from you.</h1>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>
                    <%= form_for artists_path, html: { method: :post } do |f| %>
                      <%= text_field_tag "email", params[:email], class: '', placeholder: 'Email' %>
                      <%= text_area_tag "message", params[:message], class: '', placeholder: 'Your Message' %>
                    <% end %>
                  </div>
                  <div class="action-button">
                    <button class="btn btn-alternative btn-lg" type="button">Send Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
