<% set_meta_tags title: "#{current_seo_content&.title || 'Best Tattoo Shops & Artists Near You'}",
              description: "#{current_seo_content&.meta_description || 'Find Certified Tattoo Shops & Artists in a city near. Book a tattoo appointment today.'}" %>

<% set_meta_tags(canonical: root_url)  %>

<% set_meta_tags(open_graph: {
    title:  "#{current_seo_content&.title || 'Best Tattoo Shops & Artists Near You'}",
    type: 'website',
    site_name: 'TrueArtists',
    url: root_url,
    description: "#{current_seo_content&.meta_description || 'Find Certified Tattoo Shops & Artists in a city near. Book a tattoo appointment today.'}"
  })
%>

<% set_meta_tags twitter: {
    card: 'summary_large_image',
    site: 'TrueArtists',
    title:  "#{current_seo_content&.title || 'Best Tattoo Shops & Artists Near You'}",
    description: "#{current_seo_content&.meta_description || 'Find Certified Tattoo Shops & Artists in a city near. Book a tattoo appointment today.'}",
    url: root_url
  }
%>

<%= render 'frontend/landing_pages/hero_banner' %>

<div class="home-page">
  <%= render 'frontend/landing_pages/featured_artists' if @artists.present? %>
  <%= render 'frontend/landing_pages/featured_studios' if @studios.present? %>
  <%= render 'frontend/landing_pages/featured_styles' %>
</div>

<% if current_seo_content.present? %>
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sub-header">
            <h2><%= current_seo_content.title %></h2>
          </div>
        </div>
        <div class="col-md-12">
          <%= current_seo_content.content.html_safe %>
        </div>
      </div>
    </div>
  </div>
<% end %>
