<!-- About -->
<div class="page-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="about-studio">
          <div class="about-studio-content">
            <h2>About Our Tattoo Shop</h2>
            <p><%= @studio.bio %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="studio-right-sidebar text-center">
          <% if @studio.phone_number %>
            <p>
              <span><%= @studio.phone_number %></span>
              <% if @studio.phone_verified %>
                <span class="ta-icon-verified icon"></span>
              <% end %>
            </p>
          <% end %>
          <div class="studio-p-style">
            <% if @studio.services %>
              <h4>Services</h4>
              <div class="studio-services">
                <% @studio.services.each do |service| %>
                  <%= service %>
                <% end %>
            <% end %>
          </div>
          <div class="studio-p-style">
            <h4>Pricing</h4>
            <p>Price/hour: <%= @studio.price_per_hour %></p>
            <p>Minimum Spend: <%= @studio.minimum_spend %></p>
          </div>
          <div class="social-media-profiles">
            <% if @studio.facebook_url %>
              <%= link_to @studio.facebook_url do %>
                <span class="ta-icon-facebook icon"></span>
              <% end %>
            <% end %>
            <% if @studio.twitter_url %>
              <%= link_to @studio.twitter_url do %>
                <span class="ta-icon-twitter icon"></span>
              <% end %>
            <% end %>
            <% if @studio.instagram_url %>
              <%= link_to @studio.instagram_url do %>
                <span class="ta-icon-instagram icon"></span>
              <% end %>
            <% end %>
            <% if URI.parse(@studio.website_url).is_a?(URI::HTTP) or URI.parse(@studio.website_url).is_a?(URI::HTTPS) %>
              <div class="website">
                <%= link_to @studio.website_url do %>
                  Website
                <% end %>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="studio-address-item d-flex align-items-center flex-wrap">
          <div class="studio-map">
            <iframe
              width="400"
              height="400"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch('GEOCODER_API_KEY') %>
                &q=<%= @studio.full_address %>">
            </iframe>
          </div>
          <div class="studio-address d-flex align-items-center flex-grow-1 justify-content-between">
            <div class="address-text">
              <h2><%= @studio.name %></h2>
              <% if @studio.phone_number %>
                <p>Phone: <%= @studio.phone_number %></p>
              <% end %>
              <p><%= @studio.full_address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->
