<!-- About -->
<div class="page-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="about-studio">
          <div class="about-studio-content">
            <h2>About Our Tattoo Shop</h2>
            <p><%= @studio.bio %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="studio-right-sidebar">
          <div class="studio-p-style">
            <% if @studio.services.present? %>
              <h4>Services</h4>
              <div class="studio-services">
                <% @studio.services.each do |service| %>
                  <span class="tag tag-cloud"><%= service %></span>
                <% end %>
              </div>
            <% end %>

            <% if @studio.price_per_hour.present? || @studio.minimum_spend.present? %>
              <h4>Pricing</h4>
              <% if @studio.price_per_hour.present? %>
                <p>Price/hour: <%= @studio.price_per_hour %></p>
              <% end %>
              <% if @studio.minimum_spend.present? %>
                <p>Minimum Spend: <%= @studio.minimum_spend %></p>
              <% end %>
            <% end %>
          </div>
          <div class="social-media-profiles">
            <% if full_url(@studio.facebook_url) %>
              <span>
                <%= link_to full_url(@studio.facebook_url) do %>
                  <span class="ta-icon-facebook icon"></span>
                <% end %>
              </span>
            <% end %>

            <% if full_url(@studio.twitter_url) %>
              <span>
                <%= link_to full_url(@studio.twitter_url) do %>
                  <span class="ta-icon-twitter icon"></span>
                <% end %>
              </span>
            <% end %>

            <% if full_url(@studio.instagram_url) %>
              <span>
                <%= link_to full_url(@studio.instagram_url) do %>
                  <span class="ta-icon-instagram icon"></span>
                <% end %>
              </span>
            <% end %>

            <% if full_url(@studio.website) %>
              <div class="website">
                <%= link_to full_url(@studio.website) do %>
                Website
                <% end %>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="studio-address-item d-flex align-items-center flex-wrap">
          <div class="studio-map">
            <iframe
              width="400"
              height="400"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch('GEOCODER_API_KEY') %>
                &q=<%= @studio.full_address %>">
            </iframe>
          </div>
          <div class="studio-address d-flex align-items-center flex-grow-1 justify-content-between">
            <div class="address-text">
              <h2><%= @studio.name %></h2>
              <% if @studio.phone_number %>
                <p>Phone: <%= @studio.phone_number %>
                  <span class="ta-icon-check-circle-fill icon"></span>
                </p>
              <% end %>
              <p><%= @studio.full_address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->
