<!-- profile head -->
<div class="profile-head-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6" >
        <div class="s-profiles d-flex align-items-center" itemscope="true" itemtype="https://schema.org/TattooParlor">
          <div class="s-profile-img">
            <%= link_to studio_path(@studio) do %>
              <%= lazy_image_tag(asset_blob_url(@studio.avatar), title: @studio.name, alt: @studio.name) %>
            <% end %>
          </div>
          <div class="s-profile-info">
            <h1 itemprop='name'><%= link_to @studio.name, studio_path(@studio) %></h1>
            <div class="s-rating" itemprop='address'>
              <span><%= format('%s %s', @studio.street_address, @studio.street_address_2) %></span>
              <span >
                <%= @studio.city %>, <%= @studio.state %><br/>
                <%= @studio.country %> <%= @studio.zip_code %>
              </span>
              <% if @studio.phone_number %>
                <p itemprop='telephone'><a href="tel:<%= @studio.phone_number %>"></a>
                  <span class="ta-icon-check-circle-fill icon"></span>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <% if false %>
          <div class="profile-head-btn d-flex justify-content-center justify-content-md-end">
            <a href="#" class="btn btn-secondary btn-lg">Save</a>
            <%= link_to 'Book', "#{ENV.fetch('ACCOUNT_SERVICE_URL')}/book/studio/#{@studio.slug}", target: '_blank', class: 'btn btn-primary ml-4' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="sub-nav d-flex justify-content-center">
          <%= link_to 'Studio', studio_path(@studio) %>
          <%= link_to 'Studio Artists', artists_studio_path(@studio) %>
          <%= link_to 'Portfolio', tattoos_studio_path(@studio) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->
