<% set_meta_tags title: "Best Tattoo Shops & Studios in #{@location_name}",
              description: "Find top certified tattoo studios and shops in #{@location_name}." %>

<!-- Latest Studio -->
<div class="page-section pt-0">
  <div class="container">
    <%= form_for studios_path, html: { remote: true, method: :get } do |f| %>
      <%= hidden_field_tag 'page', @meta[:current_page] %>
      <%= hidden_field_tag 'per_page', @meta[:limit_value] %>
      <div class="row">
        <div class="col-md-12">
          <div class="sub-header mb-30">
            <h1>Tattoo Studios in <%= @location_name %></h1>
          </div>
        </div>
        <div class="col-md-12">
          <div class="latest-studios-lists grid-gap-30 row">
            <%= render @studios %>
          </div>
        </div>
        
        <div class="col-md-12 text-center">
          <% unless @meta[:last_page] %>
            <div class="see-more-section">
              <button class="btn btn-alternative btn-lg">See More</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- // -->
