<p style="<%= row_styles %>"><%= local_assigns[:contact_description].presence || 'If you have any questions please free to contact us at' %> <%= link_to 'info@trueartists.com', 'mailto:info@trueartists.com' %></p>

<p style="<%= row_styles %>">Best Regards</p>

<p style="<%= row_styles %>">TrueArtists</p>
